*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Rad Hat Display", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: #fcf8f6;
}
main {
  flex-grow: 1;
}

img {
  object-fit: cover;
  display: flex;
}

.wrapper {
  align-items: flex-start;
  display: flex;
  gap: 3.2rem;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
}

.products-container {
  width: 100%;
  max-width: 800px;
  margin-left: 1rem;
}
.products_container__title {
  margin-bottom: 3.2rem;
  color: #260f08;
  font-size: 5.6rem;
  line-height: 1.2;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.product__image {
  max-width: 100%;
  border-radius: 0.8rem;
  border: 2px solid transparent;
  transition: 0.3s;
}
.cart-btn__container {
  width: 100%;
  max-width: 400px;
  margin-top: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_btn {
  width: 160px;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: 1px solid transparent;
  line-height: 1.5;
  height: 44px;
  margin-top: -2, 2rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

.product_add__btn {
  cursor: pointer;
  border-color: #ad8a85;
  gap: 0.8rem;
}

.product_add__btn:hover {
  color: #c73b0f;
  border-color: #c73b0f;
}

.product_amount__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: #c73b0f;
  color: #ffffff;
  display: none;
}

.product_decrement {
  background-color: inherit;
  display: flex;
  cursor: pointer;
}



.product_increment {
  background-color: inherit;
  display: flex;
  cursor: pointer;
}

.product_info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.cart-title {
  font-weight: 400;
  color: #87635a;
  margin-bottom: 0.4rem;
}

.cart-description {
  font-size: 1.6rem;
  color: #260f08;
  margin-bottom: 0.4rem;
}

.cart-price {
  font-size: 1.6rem;
  color: #c73b0f;
}


.cart_container {
  padding: 2.4rem;
  border-radius: 1.2rem;
  background-color: #ffffff;
}
.cart_title {
  margin-bottom: 2.4rem;
  color: #c73b0f;
}
.cart_empty {
  width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
display: none;
}
.cart_empty__image {
  width: 128px;
  height: 128px;
}
.cart_empty__text {
  color: #87635a;
}

.cart_product__item {
  width: 384px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid#f5eeec;
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
}
.cart_product__numbers {
  gap: 0.8rem;
  display: flex;
  margin-bottom: 0.8rem;
}
.cart_product__amount {
  color: #c73b0f;
}
.cart_product__price {
  color: #87635a;
  font-weight: 400;
}
.cart_product__total {
  color: #87635a;
}
.cart_product__delete {
  width: 20px;
  height: 20px;
  color: #ad8a85;
  border: 1px solid #ad8a85;
  border-radius: 50%;
}
